.content-section {
    padding: 10px 20px;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    height: fit-content;
    border-radius: 3px;
    margin-bottom: 20px;  
    color: white;  
}
.textbox {
    background-color:#292b2c;
    color: white;
}
body {
    background-image: url("https://wallpaperset.com/w/full/a/b/1/32954.jpg");
    background-size: cover;
    color: white;
}
.home {
    color: black;
}
