{% extends 'layout.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('welcome') }}">COURSESPOT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    <a href="{{ url_for('account') }}" class="nav-link">Account</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    <a href="{{ url_for('register') }}" class="nav-link">Signup</a>
                {% endif %}
                    <a href="{{ url_for('about') }}" class="nav-link active">About</a>
                    <a href="{{ url_for('contact') }}" class="nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container border-x">
<h1>About Us</h1>
<p class="lead">For anything that you want to learn, there are so many resources available on the internet.<br>
Many websites offer variety of courses. It becomes a tedious task for someone to see all the courses and select which is the best. We try to bring all the information from these sites at one place. Here you can see top courses on various education platforms of each topic and can choose which is best for you!</p>
</div>
{% endblock %}