{% extends 'layout.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('welcome') }}">COURSESPOT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    <a href="{{ url_for('account') }}" class="nav-link">Account</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="nav-link active">Login</a>
                    <a href="{{ url_for('register') }}" class="nav-link">Signup</a>
                {% endif %}
                    <a href="{{ url_for('about') }}" class="nav-link">About</a>
                    <a href="{{ url_for('contact') }}" class="nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block content %}
<br>
<body class="forms">
    <div class="content-section bg-dark">
        <form class="form-horizontal" method="POST" action="">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4" style="text-align: center"><h3>Login</h3></legend>
            

            <div class="form-group">
                {{ form.email.label(class="form-control-label lead") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-md is-invalid textbox") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.email(class="form-control form-control-md textbox") }}
                {% endif %}    
            </div>


            <div class="form-group">
                {{ form.password.label(class="form-control-label lead") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-md is-invalid textbox") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.password(class="form-control form-control-md textbox") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.remember }}
                {{ form.remember.label }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
            </small>
        </div>
    </div>
</body>
{% endblock %}