{% extends 'layout.html' %}
{% block content %}
<div class="breadcrumbs">
    <h2><b>REGISTER</b></h2>
</div>
<br>
<body class="forms" style="background-color: #171a1d;">
    <div class="container bg-dark">
        <form class="form-horizontal" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label lead") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-md is-invalid textbox") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.username(class="form-control form-control-md textbox") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.email.label(class="form-control-label lead") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-md is-invalid textbox") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.email(class="form-control form-control-md textbox") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.password.label(class="form-control-label lead") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-md is-invalid textbox") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.password(class="form-control form-control-md textbox") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label lead") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-md is-invalid textbox") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-md textbox") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an Account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
            </small>
        </div>
        <br>
    </div>
</body>
<br>
{% endblock %}